<form action="/profile/edit" method="POST" enctype="multipart/form-data">
     <label> Username
      <input type="text" name="username" placeholder="ironhacker" />
    </label>

    <label> Avatar
      <input type="file" name="imgUrl" />
      <button type="submit">Upload Image</button>
    </label>
</form>